.sidebar {
  display: none;
}

.parentlinks {
  display: block;
  height: 2.4em;
}

.parentlinks ul {
  display: none;
}

span.title {
  margin-top: 0;
}

/* Left part */

#feature h2 {
  font-size: 24px;
  font-style: italic;
  margin-bottom: 1em;
  margin-top: 0;
}

#feature h3 {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 1em;
  text-transform: none;
  letter-spacing: 0;
}

#feature p, #feature ul {
  font-size: 16px;
  line-height: 1.5em;
}

/* Hide version with JavaScript by default */

#paypal-with-js {
  display: none;
}

/* JavaScript version */

#currency .col-md-12, #frequency .col-md-12 {
  margin-bottom: 1em;
  padding: 0;
  border: solid 3px white;
}

#donate-button .col-md-12 {
  margin-top: 1em;
  border: solid 3px white;
}

.btn-primary {
  background-color: #53b351 !important;
  border-color: #53b351 !important;
  color: black;
}

.btn-primary.active, .btn-primary.active:hover {
  background-color: #276426 !important;
  border-color: #276426 !important;
  color: white;
}

.amounts .btn-primary.active:hover {
  border-color: white !important;
}

.btn-primary:hover {
  background-color: #428f40 !important;
  border-color: #428f40 !important;
  color: black;
}

#require-paypal, .tax-deducible {
  padding: 0 4px;
}

#require-paypal {
  font-size: 12px;
  font-style: italic;
}

.tax-deducible {
  font-size: 12px;
  margin-top: 9px;
}

.amounts .btn {
  padding-top: 33px;
  height: 95px;
  border: solid 3px white !important;
}

.amounts .other {
  padding: 13px 4px;
}

.amounts .other .input-group-addon {
  padding: 2px;
}

.amounts .other .form-control {
  padding: 4px;
}

/* Version without JavaScript */

#paypal-without-js h2 {
  font-size: 24px;
  margin-top: 0;
}

#paypal-without-js h3 {
  font-size: 14px;
}

#paypal-without-js form {
  margin-bottom: 1em;
}

#paypal-without-js form label {
  font-size: 12px;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* Other ways */

#other-ways, #expenses {
  margin-top: 2em;
  background: #f5f5f5;
  margin-left: -3.4em;
  margin-right: -2em;
  box-sizing: border-box;
  padding-bottom: 1.5em;
  padding-left: 2.3em;
}

#check, #bitcoin-cash {
  margin-top: 3em;
}

#ethereum, #ethereum-classic, #litecoin {
  margin-top: 1em;
}

#other-ways h5 {
  margin-top: 1.5em;
}

/* Indent bank account details for wire transfers */

#transfer-eur, #transfer-usd {
  margin-left: 2em;
}

/* Hide euros until we solve #11868 */

#currency, #dollars-without-js h2, #euros-without-js {
  display: none;
}
