[[!meta title="Cris"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="persona" rel="stylesheet" title=""]]

<div class="row">

  <p id="tag" class="col-sm-12">The Information Gatherer</p>

  <ul id="bio" class="col-sm-12">
    <li>Is a Mexican journalist living in the US for their safety</li>
    <li>Investigates corruption and human-right violations by the government and the mafia</li>
    <li>Uses Tails to gather information from local partners and sources and get it out of the country</li>
  </ul>

</div>

<div class="row">

  <img src="https://git.tails.boum.org/ux/plain/personas/cris-medium.jpg" id="picture" class="col-sm-4 img-responsive">

  <div class="col-sm-8">

    <blockquote id="quote">
      I want thugs and corrupted politicians to get in trouble. Not my sources and partners.
    </blockquote>

    <div id="primary">

      <h1>Primary goals</h1>
  
      <ul>
        <li>Communicate with known and unknown peers</li>
        <li>Work with others who are surveilled or at risk</li>
        <li>Share and work on documents with others</li>
        <li>Store, edit, and anonymize sensitive data</li>
      </ul>

    </div>

  </div>

</div>

<div class="row">

  <div id="technology" class="col-sm-4">

    <h1>Technology use</h1>

    <ul>
      <li>Knows they need more digital security but struggles with technology and changing the way they always worked</li>
      <li>Gets info from local whistle-blowing platform</li>
      <li>Uses phone messaging to contact sources and partners</li>
      <li>Struggles to read on screens with her new reading glasses</li>
    </ul>

  </div>

  <div id="threats" class="col-sm-4">

    <h1>Threats</h1>
    
    <ul>
      <li>Has been targeted by government spyware in the past</li>
      <li>Local partners have been killed</li>
      <li>Searches and thefts while traveling for the investigation</li>
      <li>Searches at the border</li>
    </ul>

  </div>

  <div id="objectives" class="col-sm-4">

    <h1>Objectives</h1>
    
    <ul>
      <li>Hide what they are working on until it's published</li>
      <li>Keep their partners and sources safe</li>
      <li>Bring the data outside of the country to report about it</li>
    </ul>

  </div>

</div>

<h1>Background information</h1>

<ul>
<li><a href="https://citizenlab.ca/2017/06/reckless-exploit-mexico-nso/">The Citizen Lab: Reckless Exploit Mexican Journalists, Lawyers, and a Child Targeted with NSO Spyware</a></li>
<li><a href="https://en.wikipedia.org/wiki/List_of_journalists_and_media_workers_killed_in_Mexico">Wikipedia: List of journalists and media workers killed in Mexico</a></li>
<li>Interview with [[Claudia & Felix|blueprint/interviews#Claudia]]</li>
<li>Interview with [[Joana & Orlando|blueprint/interviews#Joana]]</li>
<li><a href="https://digitalrightsfoundation.pk/wp-content/uploads/2018/01/Report-Digi-Insecurity-of-Journos.pdf">Digital Rights Foundation: Digital (In)security of Journalists in Pakistan</a></li>
<li><a href="http://www.cima.ned.org/wp-content/uploads/2016/03/CIMA-Journalist-Digital-Tools-03-01-15.pdf">Javier Garza Ramos, Journalist Security in the Digital World</a></li>
<li><a href="https://www.asc.upenn.edu/people/jennifer-r-henrichsen">Jennifer
R. Henrichsen</a> is doing a research with journalists and digital security
trainers to shed light on journalists' perceptions toward digital security
technologies, including motivations to adopt and barriers to adoption. In March
2018, the results of her research were not published yet.</li>
<li><a href="https://www.theguardian.com/world/2015/mar/16/whistleblowers-mexico-journalists-website">The Guardian: Whistleblowers wanted: Mexican journalists seek tips through website</a></li>
</ul>
