[[!meta title="Personas"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="contribute/personas" rel="stylesheet" title=""]]

<p>These personas are fictitious but concrete representations of the people
using Tails. We use these personas to keep in mind who we are working for, what
are their needs, and what Tails should do for them.</p>

<p>These personas come from collective discussions about who we want to help
when building Tails, [[interviews with users|blueprint/interviews]], and other
sources of information about Internet freedom.</p>

<h1>Primary persona</h1>

<p>Riou represents the users that are the most important to us.</p>

<div class="row">

  [[
  <div id="riou" class="col-sm-5 card">

    <h2 class="name">Riou</h2>

    <p class="tag">The Censorship Evader</p>

    <img src="https://git.tails.boum.org/ux/plain/personas/riou-medium.jpg" id="picture" class="img-responsive">

    <blockquote id="quote">
      To change our country and fight censorship, we're more helpful in the streets than in jail.
    </blockquote>

  </div>
  |riou]]

</div>

<h1>Secondary personas</h1>

<p>Cris and Kim represent other users are are also important to us.</p>

<div class="row">

  [[
  <div id="cris" class="col-sm-5 card">

    <h2 class="name">Cris</h2>

    <p class="tag">The Information Gatherer</p>

    <img src="https://git.tails.boum.org/ux/plain/personas/cris-medium.jpg" id="picture" class="img-responsive">

    <blockquote id="quote">
      I want thugs and corrupted politicians to get in trouble. Not my sources and partners.
    </blockquote>

  </div>
  |cris]]

  [[
  <div id="kim" class="col-sm-5 card">

    <h2 class="name">Kim</h2>

    <p class="tag">The Surveilled at Home</p>

    <img src="https://git.tails.boum.org/ux/plain/personas/kim-medium.jpg" id="picture" class="img-responsive">

    <blockquote id="quote">
      I need to get out of here but I'm so scared. Will I make it safe? What will come next?
    </blockquote>

  </div>
  |kim]]

</div>

<h1>Other personas</h1>

<p>Derya represents users that we care about but that aren't so important.</p>

<div class="row">

  [[
  <div id="derya" class="col-sm-5 card">

    <h2 class="name">Derya</h2>

    <p class="tag">The Privacy Advocate</p>

    <img src="https://git.tails.boum.org/ux/plain/personas/derya-medium.jpg" id="picture" class="img-responsive">

    <blockquote id="quote">
      Governments and companies know way too much. Everybody has something to hide.
    </blockquote>

  </div>
  |derya]]

</div>

<h1 id="resources">External resources about personas</h1>

<p>General:</p>

<ul>
<li><a href="http://gen.lib.rus.ec/search.php?req=The+Essential+Persona+Lifecycle">Tamara Adlin and John Pruitt, The Essential Persona Lifecycle</a></li>
<li><a href="https://medium.com/@indiyoung/describing-personas-af992e3fc527">Indi Young: Describing personas</a></li>
<li><a href="https://www.nngroup.com/articles/why-personas-fail/">NN/g: Why personas fail</a></li>
<li><a href="https://www.microsoft.com/design/inclusive/">Microsoft: Inclusive Design</a></li>
</ul>

<p>Other personas for privacy and security:</p>

<ul>
<li><a href="https://medium.com/@gusandrews/user-personas-for-privacy-and-security-a8b35ae5a63b#.8lyxpkom4">Gus Andrew: User Personas for Privacy and Security</a></li>
<li><a href="https://www.accessnow.org/a-first-look-at-digital-security/">AccessNow: A First Look at Digital Security</a></li>
<li><a href="http://internetfreedom.secondmuse.com/framework-elements/developing-personas/">SecondMuse: Developing Personas from the Internet Freedom Needfinding Framework</a></li>
<li><a href="https://usable.tools/personas/">Internews: USABLE.tools personas</a></li>
</ul>

<p>Data sources:</p>

<ul>
<li><a href="https://blog.mozilla.org/blog/2017/11/01/10-fascinating-things-we-learned-when-we-asked-the-world-how-connected-are-you/">Mozilla: 10 Fascinating Things We Learned When We Asked The World ‘How Connected Are You?’</a></li>
<li><a href="https://www.usenix.org/system/files/conference/soups2017/soups2017-gallagher.pdf">Kevin Gallagher & Nasir Memon: New Me, Understanding Expert and Non-Expert Perceptions and Usage of the Tor Anonymity Network</a> has some interesting insights on the mental model of Tor for non-expert users.</li>
<li><a href="https://www.usenix.org/system/files/conference/soups2015/soups15-paper-kang.pdf">Ruogu Kang et al.: “My Data Just Goes Everywhere:” User Mental Models of the Internet and  Implications for Privacy and Security</a></li>
<li><a href="http://www.rickwash.com/papers/security-survey.pdf">Rick Wash & Emilee Rader: Too Much Knowledge? Security Beliefs and Protective Behaviors Among United States Internet Users</a></li> studies a large representative sample of United States Internet users about different causal beliefs related to computer security, and about the actions they regularly undertake to protect their computers.</li>
</ul>

<h1>Archive of the process</h1>

<h2>Comments and prioritization (August 2018)</h2>

<p>Based on the skeletons drafted in 2018, we created posters to illustrate our
draft personas:</p>

<a href="https://git.tails.boum.org/ux/plain/personas/2018-08/posters.pdf">
<img src="https://git.tails.boum.org/ux/plain/personas/2018-08/posters.png"/>
</a>

<p>We asked 14 contributors to:</p>

<ul>
<li>Comment on the personas</li>

<li>Prioritize which personas we should focus on the most in the short-term
(1-3 years). For example, in terms of:

<ul>
<li>Frequency of use: How often would each persona use Tails?</li>
<li>Audience size: How many people could each persona represent?</li>
<li>Benefit for the project: Which of these persona could (or did) bring benefit to the project (money, contributions, outreach, etc.)?</li>
<li>Readiness: How mature is Tails to help each of these persona?</li>
<li>Strategy: Do you think that focusing on some of these personas would be more strategic for some other reason?</li>
<li>Any other criteria?</li>
</ul>

<p>By assigning points to each of them:</p>

<ul>
<li>You have a total of 100 points.</li>
<li>Assign points to each persona to reflect its priority.</li>
<li>You cannot give the same number of points to two personas.</li>
</ul>

<p><a href="https://git.tails.boum.org/ux/plain/personas/2018-08/prioritization.fods">From
this prioritization</a>, we decided that focusing on Riou was slightly more
important to us than focusing on Cris and Kim, and that Derya was the less
important of the 4.</p>

</li></ul>

<h2>Skeletons and comments (Avril&ndash;July 2018)</h2>

<p>From the user goals identified in 2017, we drafted 4 skeletons and asked the
community to comment on them during our monthly meetings in
[[April|contribute/meetings/201804]], [[May|contribute/meetings/201805]],
[[June|contribute/meetings/201806]], and [[July|contribute/meetings/201807]]
2018.</p>

<h2 id="user-goals">User goals for using Tails (August 2017)</h2>

<h4>A. I want to hide information about myself</h3>

<ul>
<li>I want to keep information secret from my government</li>
<li>I want to keep information secret from my family and close people</li>
<li>I want to access sensitive information stealthily</li>
<li>I want to hide my identity</li>
<li>I want to hide my location</li>
<li>I don't want to raise suspicion</li>
</ul>

<h4>B. I want to communicate and collaborate securely</h3>

<ul>
<li>I want to communicate securely with known peers</li>
<li>I want to communicate securely with unknown peers</li>
<li>I want to communicate with others who are under surveillance</li>
<li>We want to share and work on documents privately</li>
</ul>

<h4>C. I want to store information safely</h3>

<ul>
<li>I need to safely store my data</li>
<li>I want to edit or anonymize my data</li>
</ul>

<h4>D. I want to leave no trace on the computer</h3>

<ul>
<li>I need to use a computer that is not mine</li>
</ul>

<h4>E. I want information to be free</h3>

<ul>
<li>I want to access censored information online</li>
<li>I want to publish sensitive information</li>
</ul>

<h4>F. I don't want my data to be gathered by corporations and governments</h3>

<ul>
<li>I want to understand people using Tails</li>
<li>I just want more privacy</li>
</ul>

<h2>Collective process to identity user goals (August 2017)</h2>

<p>Summary of a 2 hours session with 12 core contributors.</p>

<p>This process is inspired by the workshop described in <u>The Essential
Persona Lifecycle</u> by Tamara Adlin and John Pruitt, Chapter 4 <i>Persona
conception and gestation</i>.</p>

<ul>
<li>General explanation of what personas are and why they are useful (15')</li>

<li>Everybody prepares, in silent, sticky notes describing a user and their goal. (15')

    <p>For example:</p>

    <ul>
    <li>"Women that go through domestic violence and wants to escape from that."</li>
    <li>"Webmasters of a sensitive website that wants to hack on it."</li>
    </ul></li>

<li><p>All together we assimilate these sticky notes and the ones identified
in August 2016 by <em>types of users</em>. (30')</p>

<p>We start with predefined categories based on last year's output and
  adding new ones or splitting existing ones as needed. There should be
  no more than 10 stick notes per category.</p>

<ul>
<li>Predefined categories:
  <ul>
  <li>Activist</li>
  <li>Censorship evader</li>
  <li>Contributor</li>
  <li>Darknet customer</li>
  <li>Information freedom fighter</li>
  <li>Nomadic</li>
  <li>Privacy geek</li>
  <li>Surveilled at home</li>
  </ul></li>
<li>Final categories:
  <ul>
  <li>Activist</li>
  <li>Censorship evader</li>
  <li>Contributor</li>
  <li>Darknet customer</li>
  <li>Evil people</li>
  <li>Information freedom fighter</li>
  <li>Journalist or researcher</li>
  <li>Law enforcement</li>
  <li>Nomadic</li>
  <li>People helping others in shit</li>
  <li>People we don't want to help</li>
  <li>Privacy geek</li>
  <li>Sensitive content creator</li>
  <li>Surveilled at home</li>
  <li>Surveilled at work</li>
  </ul></li>
</ul>

<li>The facilitator takes pictures of the resulting assimilation and
  removes the user categories.</li>

<li>All together we assimilate again the same stick notes and group them
  by <em>user goals</em> (45').

  <p>User goals are short sentences starting with "<em>I want...</em>" or "<em>I need...</em>".
  There should be no more than 10 stick notes per category. Sticky notes
  that fit in more than one goal can be duplicated.</p></li>

<li> All together we summarize these goals by identifying main goals and
  subgoals. (10')

  <p>See "[[User goals for using Tails|personas#user-goals]]" above.</p></li>
</ul>

<h2>Collective brainstorming of uses of Tails (August 2016)</h2>

<ul>
<li>A small group of English-speaking journalists use Tails to analyze an archive of leaked documents and prepare articles about them.</li>
<li>A well-established music teacher uses Tails to bypass the software and network limitations on their professional laptop.</li>
<li>Someone living in a controlled housing uses Tails to avoid having all their Internet browsing monitored by the staff.</li>
<li>A political scientist in Egypt uses Tails to send their findings to Germany while avoiding State surveillance.</li>
<li>A woman who lives with someone abusing her uses Tails to communicate stealthily and without living traces on the home computer.</li>
<li>A political activist uses Tails to coordinate with their affinity group and organize a demonstration.</li>
<li>A person suffering from cancer uses Tails to learn about their disease while avoiding their employer learning about their condition.</li>
<li>A group of people preparing a plea for defending activists in court uses Tails to prepare the plea and store the documents in a safe place.</li>
<li>A free software contributor uses Tails to translate the security tools used by their community into Bahasa Indonesia.</li>
<li>A whistle-blower uses Tails to store and edit to-be-leaked documents securely.</li>
<li>A lawyer uses Tails to communicate with their client in a secure and anonymous fashion.</li>
<li>A Tails developer uses Tails to develop Tails and understand better the struggling of users.</li>
<li>A university student uses Tails to publish publicly-funded but copyrighted scientific papers online.</li>
<li>Union workers use Tails to coordinate about labor struggle over their company's network.</li>
<li>A Russian tourist uses Tails to access their online bank account without getting their credential stolen.</li>
<li>A nomadic person with no personal laptop uses Tails to carry the same computing environment and personal documents around.</li>
<li>A abuse contact uses Tails in order to communicate with survivors contacting them.</li>
<li>A person without their own Internet access uses Tails to use an uncensored Internet.</li>
<li>A teenager uses Tails to escape parental control filter.</li>
<li>A group of people use Tails to write a book together and publish it.</li>
<li>A scientist uses Tails to report and transcribe interviews while preserving the personal identifying information of the interviewees.</li>
<li>Webmasters of a cop-watching website use Tails to reduce their chance of being caught while reporting on police violence.</li>
<li>A photographer uses Tails to store and work on pictures before publication.</li>
<li>A person without the need for a big storage uses Tails as their main operating system to have more privacy.</li>
</ul>
